@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"]:placeholder-shown,input[type="text"]{
  font-family: 'Press Start 2P', cursive;
  background-color:rgb(25, 255, 255,.15);
  line-height: 5rem;
}
input[type="text"]:placeholder-shown{
  font-size:1em;
  color: red;
}
input[type="button"]{
  font-family: 'Press Start 2P', cursive;
  padding: 0;
  line-height: 5rem;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
